{% load static %}
<!DOCTYPE html>
<html lang="en"/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Adrian Barreiro">
    <title>BookWorld</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet"/>
    <link rel="icon" href="{% static 'img/book.png' %}">
</head>
<body>
<header class="navbar navbar-dark bg-dark fixed-top container-fluid d-flex bd-highlight px-5">
    <div class="navbar-nav flex-row flex-fill bd-highlight">
        <a class="navbar-brand" href="{% url 'index' %}">BookWorld</a>
        <a class="nav-item nav-link" href="{% url 'products' %}">Productos</a>
    </div>
    <div class="flex-fill bd-highlight">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                   href="#">
        </form>
    </div>
    <div class="flex-fill bd-highlight">
        <nav class="navbar navbar-expand-lg text-light">
            <a class="nav-link ms-auto" aria-current="page" href="{% url 'cart' %}">
                <img src="../static/img/cart.png" width="30" height="30">
            </a>
        </nav>
    </div>
</header>
<div class="container py-5 mt-5">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="row" colspan="4" class="text-center">CARRITO</th>
        </tr>
        <tr>
            <th scope="col" class="text-center">NOMBRE</th>
            <th scope="col" class="text-center">PRECIO</th>
            <th scope="col" class="text-center">CANTIDAD</th>
            <th scope="col" class="text-center">SUBTOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% if request.session.cart.items %}
            {% for key, value in request.session.cart.items %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.price }} €</td>
                    <td class="text-center">
                        <a href="{% url 'subtract' value.product_isbn %}" class="badge btn btn-dark badge-dark">-</a>
                        {{ value.quantity }}
                        <a href="{% url 'add' value.product_isbn %}" class="badge btn btn-dark badge-dark">+</a>
                    </td>
                    <td>{{ value.subtotal }} €</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">
                    <div class="alert alert-danger text-center"> Sin Productos</div>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row">Total:</th>
            <td colspan="3"> {{ cart_total }} €</td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
<div class="col text-center">
    <a href="{% url 'clear' %}" class="btn btn-danger text-center">Limpiar</a>
    {% if request.session.cart.items %}
        <a href="{% url 'register' %}" class="btn btn-success text-center">Comprar</a>
    {% endif %}
</div>


<!--------------------------------------------------------------------------------------------------------------------->
<footer class="footer  py-3 bg-light mt-3 fixed-bottom">
    <div class="container">
        <span class="text-muted">BookWorld © <script>document.write(new Date().getFullYear())</script> </span>
        <span class="text-muted"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Sobre nosotros</a></span>
    </div>
</footer>

<!-- Archivo JS Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>













